/*
File: HW2style.css
GUI Assignment: Style a site with external CSS.
Peyton Somerville
9/21/2021
*/

header, hgroup, nav, footer, figure, figcaption, aside, section, article {
    display: block;
}

body {
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("ptrbackground.jpg");
}

#wrapper {
    background-color: white;
    width: 80%;
    min-width: 600px;
    height: 725px;
    margin: auto;
    position: relative;
}

header {
    color: white;
    background-color: #000032;
    background-image: url("sunset.jpg");
    background-repeat: no-repeat;
    background-position: right;
}
h1 {
    margin-bottom: 0;
    padding: 10px;
}
h2 {
    color: #3399CC;
    font-weight: bold;
}
h1,
h2 {
    font-family: Georgia, "Times New Roman", serif;
}

nav {
    float: left;
    background-color: #90c7e3;
    width: 200px;
    height: calc(100% - 56px);
}
nav ul {
    font-size: 1.2em;
    list-style-type: none;
    font-weight: bold;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:visited {
    color: #344873;
}
nav a:hover {
    color: #FFFFFF;
}

p {
    max-width: 700px;
    margin-top: 0px;
    float: left;
}

#content {
    padding-left: 240px;
}
#content ul {
    list-style-image: url("marker.gif");
    float: left;
    margin-top: 0;
}

img {
    float: left;
    margin-right: 20px;
}

span {
    color: #638daa;
    font-weight: bold;
}

#contact {
    font-size: 90%;
    float: left;
	width: 180px;
	margin-right: 500px;
}

footer {
    position: absolute;
    bottom: 0;
    padding-left: 220px;
    padding-bottom: 20px;
    font-style: italic;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 80%;
}

dt {
    color: #000033;
}